@import 'standardStyles.scss';

nav{
	padding: 20px;

	@media (max-width: 600px){
			padding: 10px;
	}
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a{
	position: relative;
	text-decoration:none;
	color: #ffffff;
}
// TODO: Figure out how to more padding between the a elements (the pink underlines are to close for my liking)
a:before{
	content:"";
	position: absolute;
	height: 3px;
	right: 0px;
	bottom: -3px;
	left: 0px;
	background-color: $linkPink;
}
